* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  font-family: "Roboto Mono", sans-serif;
}

body {
  background: #ffffff;
  color: #111827;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

::selection {
  background-color: #ffd333;
  color: #000000;
}

::-moz-selection {
  background-color: #ffd333;
  color: #000000;
}

.scroll-wrapper {
  overflow-anchor: none;
}
